*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text:1.srem ;
    --head:calc(1rem + 5vw);
    --bg-color:red;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.nikhil{
    min-height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/1787927.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    animation:slide is ease-in-out;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color: rgb(252, 251, 250);
    transform: translateY(-100%);
    animation: movedown 850ms ease-in 1s forwards;
}

@keyframes movedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

.navbar ul{
list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    border-bottom: 2px solid black;
}

.Nike{
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slide{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%) ;
    }

}

.Nike text a{
    color: white;
    background-color: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.8rem auto;
    margin: 0.8rem auto;
    display: block;
    transition: opacity 250ms linear;
}

.Nike text a :hover{
    opacity: 5;
}

.Nike h2{
    font-size: var(--head);
}

.Nike p{
    font-size: 3rem;
}